<div class="container">
    <div style="margin-bottom: 25px;" class="mt-2">
        <button class="btn ml-2" (click)="addRecordOption()">ADD</button>
        <button class="btn ml-2" (click)="onShowAll()">Show All</button>
        <button class="btn ml-2" (click)="hidAll()">Hide All</button>
    </div>
    <div *ngIf="addRecord">
        <div style="width: 550px;">
            <div style="display: flex; justify-content: space-around;margin-bottom: 5px;">
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Name</label>
                    <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeName" />
                </div>
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Age</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeAge" />
                </div>
            </div>
            <div style="display: flex;justify-content: space-around;margin-top: 5px;">
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Mobail Number</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeMobailNumber" />
                </div>
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Salary</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeSalary" />
                </div>
            </div>
           <div style="display: flex;justify-content: space-around;margin-bottom: 5px;">
            <div>
                <label class="mb-2" style="margin-right: 5px;" for="">Enter Company Name</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeCompany" />
            </div>
            <div>
                <label class="mb-2" style="margin-right: 5px;" for="">Enter City</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeLivingCity" />
            </div>
           </div>
            <div style="margin-left: 30px;">
                <label class="mb-2" style="margin-right: 5px;" for="">Enter Nationality</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeNationality" />
            </div>
           <div style="margin-left: 30px;margin-top: 20px;">
            <button class="btn btn-success"(click)="savedata()">Save</button>
           </div>
           <!-- <div *ngIf="forUpdate" style="margin-left: 30px;margin-top: 20px;">
            <button class="btn btn-warning"(click)="updateRecordSave()">Update</button>
           </div> -->
        </div>
    </div>
    <div *ngIf="forUpdate">
        <div style="width: 550px;">
            <div style="display: flex; justify-content: space-around;margin-bottom: 5px;">
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Name</label>
                    <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeName" />
                </div>
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Age</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeAge" />
                </div>
            </div>
            <div style="display: flex;justify-content: space-around;margin-top: 5px;">
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Mobail Number</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeMobailNumber" />
                </div>
                <div>
                    <label class="mb-2" style="margin-right: 5px;" for="">Enter Salary</label>
                    <input class="form-control" type="number" [(ngModel)]="inputEmpolyee.employeeSalary" />
                </div>
            </div>
           <div style="display: flex;justify-content: space-around;margin-bottom: 5px;">
            <div>
                <label class="mb-2" style="margin-right: 5px;" for="">Enter Company Name</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeCompany" />
            </div>
            <div>
                <label class="mb-2" style="margin-right: 5px;" for="">Enter City</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeLivingCity" />
            </div>
           </div>
            <div style="margin-left: 30px;">
                <label class="mb-2" style="margin-right: 5px;" for="">Enter Nationality</label>
                <input class="form-control" type="text" [(ngModel)]="inputEmpolyee.employeeNationality" />
            </div>
          
           <div style="margin-left: 30px;margin-top: 20px;">
            <button class="btn btn-warning"(click)="updateRecordSave()">Update</button>
           </div>
        </div>
    </div>
    <div *ngIf="showTable" style="width: 90%;">
        <table class="table table-bordered" style="width: 80%;">
            <thead >
                <tr>
                    <th>EmployeeName</th>
                    <th>EmployeeAge</th>
                    <th>EmployeeMob.</th>
                    <th>EmployeeSalary</th>
                    <th>EmployeeCompany</th>
                    <th>EmployeeLCity</th>
                    <th class="fit">EmployeeNat.</th>
                    <th>Delete.</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of employees">
                 
                    <td>{{data.employeeName}}</td>
                    <td>{{data.employeeAge}}</td>
                    <td>{{data.employeeMobailNumber}}</td>
                    <td>{{data.employeeSalary}}</td>
                    <td>{{data.employeeCompany}}</td>
                    <td>{{data.employeeLivingCity}}</td>
                    <td class="fit">{{data.employeeNationality}}</td>
                    <td><button class="btn" (click)="deleteRecord(data)">delete</button></td>
                    <td><button class="btn" (click)="updateRecordClick(data)">Update</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div *ngIf="content_condition; then content else other_content">

    </div> -->

    <!-- <ng-template #content>content here...</ng-template>
    <ng-template #other_content>other content here...</ng-template>

    <ng-template [ngIf]="content_condition" [ngIfElse]="elseBlock">Nitin</ng-template>
    <ng-template #elseBlock>Rahul</ng-template>-->

    <!-- <ng-template [ngIf]="content_condition" [ngIfThen]="thenblock">Vishal</ng-template>
    <ng-template #thenblock>Dipak</ng-template>  -->
  <!-- <ng-template [ngIf]="content_condition" [ngIfThen]="content" [ngIfElse]="elseContent">DATA</ng-template>
  <ng-template #content>then Bolck</ng-template>
  <ng-template #elseContent>else Block</ng-template> -->
<!-- <div [hidden]="content_condition">
    <ng-container *ngFor="let student of students">
       {{student | json}}
       <br>
    </ng-container>
</div> -->
<!-- 
<div>
    <h4 [style.color]="content_condition ? 'red' : 'green'">Nitin</h4>
</div>

<div>
    <h4 [class.tempClass]="content_condition">Rahul</h4>
</div>
<div>
    <h4 [appChangeColor]="true">Sumit</h4>
</div> -->

<!-- <input #myname (input)="updateMyName(myname.value)">
<p>My Name : {{myName}}</p>

<div *ngIf="let item of testData | keyvalue">
   <h5>Key : {{item}}</h5>
</div> -->
<!-- <div style="width: 100px; height: 800px;background-color: aquamarine;"></div>
<div style="width: 100px; height: 800px;background-color: antiquewhite;"></div>-->
<!-- <div>
    <a routerLink="extra" [routerLinkActive]="['is-active']">Go To Next Page...</a>
</div>  -->
<!-- <input type="text" (keyup)="pressKeyUpEvent()" (keydown)="keyDownEvent()"> -->

<!-- <ul>
    <li  #productsData *ngFor="let d of products">
        {{d.id}} - {{d.name}}
    </li>
</ul> -->
<!-- <ul>
    <li *ngFor="let d of products | myFilterPipe">
        {{d.id}} - {{d.name}}
    </li>
</ul> -->
<!-- <button (click)="templateVariable(productsData)">Button</button> -->
<!-- </div> -->
<!-- <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckBoxChange()"> -->
<!-- <div [innerHTML]="myLink"></div> -->